

@font-face{
font-family: "Rubik-Regular";
  src: url('../assets/fonts/Rubik/Rubik-Regular.ttf')
format('truetype'); 
}

@font-face{
font-family: "Poppins-Regular";
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf')
format('truetype'); 
}



@mixin btnStyle {
        background: #FFC000;
        font-size: 17px;
        color: #183453;
        border: none;
font-family: "rubik", sans-serif;
}

@mixin btnHover {
      background: #73BFB8;
            color: white;
}


@mixin h2tag{
    font-size: 40px;
    font-size: 700;
    color: #183453;
    font-family: "Rubik", sans-serif;
}