

body{
margin: 0px;
}

.p-menuitem-content{
  background: transparent !important;
}

.p-menuitem-content:hover {
    background: transparent !important;
}

.p-galleria-thumbnail-wrapper{
display: none;
}


@media screen and (max-width:820px) {
.p-card .p-card-body{
gap: 0px;
 
}
  
}



// @media screen and (max-width:960px) {
// .p-menuitem {
// display: none !important;
// }  
// }



